.item-info {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__title {
    border-bottom: 2px solid #073642;
    padding-bottom: 20px;
  }

  .inner-wrapper {
    flex: auto;
    padding-left: 30px;
  }

  img {
    height: 150px;
    width: 190px;
    border-radius: 6px;
  }
}

@media (max-width: 556px) {
  .item-info {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    .inner-wrapper {
      padding-left: 0;
      text-align: center;
      margin-top: 15px;
    }
  }
}