.rhap_repeat-button {
  display: none;
}

.rhap_time {
  color: #839496 !important;
}

.rhap_container {
  background: none !important;
  box-shadow: none !important;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 20px;
}

.blankText {
  text-align: center;
}